.header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #e3e4ea;
  width: 100%; 
  padding: 10px 20px;
}

.tabs-container {
  display: flex;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tab {
  padding: 10px 20px;
  font-size: 16px;
  color: #555;
  text-align: center;
  cursor: pointer;
}

.tab.active {
  background-color: #4b0082;
  color: white;
  font-weight: bold;
}

.divider {
  width: 1px;
  background-color: #ddd;
}

.logs-download {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 30%; 
}

.download-button {
  width: fit-content;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
}
